{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-6 col-lg-4 mx-auto">
			<h2 class="my-4">Cadastro</h2>
			<form method="post">
				{% csrf_token %}
				<div class="form-group">
					<label for="id_username">Usuário</label>
					<input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus required id="id_username" class="form-control">
					<small id="emailHelp" class="form-text text-muted">Obrigatório. 150 caracteres ou menos. Letras, números e @/./+/-/_ apenas.</small>
				</div>
				<div class="form-group">
					<label for="id_password1">Senha</label>
					<input type="password" name="password1" autocomplete="new-password" required id="id_password1" class="form-control">
				</div>
				<div class="form-group">
					<label for="id_password2">Confirmação de senha</label>
					<input type="password" name="password2" autocomplete="new-password" required id="id_password2" class="form-control">
					<small id="emailHelp" class="form-text text-muted">Informe a mesma senha informada anteriormente, para verificação.</small>
				</div>	
				<button type="submit" class="btn btn-primary">Cadastrar</button>
			</form>
		</div>
	</div>
</div>

{% endblock %}
